# Delta Lake Tutorial with Polars

This tutorial shows how to use Polars to work with Delta Lake tables.

We’ll start by creating a sample DataFrame and saving it as a Delta table.

The `target` variable is the folder where our Delta tables will be stored.

In [1]:
tbl_path  = "target/ex_append"

In [2]:
import polars as pl

df1 = pl.DataFrame({
    "id": [1, 2, 3, 4],
    "name": ["Alice", "Bob", "Charlie", "David"],
    "age": [25, 30, 35, 40],
    "city": ["Pune", "Mumbai", "Delhi", "Bangalore"]
})

In [3]:
df1

shape: (4, 4)
┌─────┬─────────┬─────┬───────────┐
│ id  ┆ name    ┆ age ┆ city      │
│ --- ┆ ---     ┆ --- ┆ ---       │
│ i64 ┆ str     ┆ i64 ┆ str       │
╞═════╪═════════╪═════╪═══════════╡
│ 1   ┆ Alice   ┆ 25  ┆ Pune      │
│ 2   ┆ Bob     ┆ 30  ┆ Mumbai    │
│ 3   ┆ Charlie ┆ 35  ┆ Delhi     │
│ 4   ┆ David   ┆ 40  ┆ Bangalore │
└─────┴─────────┴─────┴───────────┘

# Viewing the DataFrame

Here is our sample data.

In [4]:
# let's export df as delta
df1.write_delta(target=tbl_path) # pass the path of the table

# Saving the DataFrame as a Delta Table

We’ll export our DataFrame to a Delta table using the `write_delta` method.

In [5]:
df1_delta = pl.read_delta(source=tbl_path)

In [6]:
df1_delta

shape: (4, 4)
┌─────┬─────────┬─────┬───────────┐
│ id  ┆ name    ┆ age ┆ city      │
│ --- ┆ ---     ┆ --- ┆ ---       │
│ i64 ┆ str     ┆ i64 ┆ str       │
╞═════╪═════════╪═════╪═══════════╡
│ 1   ┆ Alice   ┆ 25  ┆ Pune      │
│ 2   ┆ Bob     ┆ 30  ┆ Mumbai    │
│ 3   ┆ Charlie ┆ 35  ┆ Delhi     │
│ 4   ┆ David   ┆ 40  ┆ Bangalore │
└─────┴─────────┴─────┴───────────┘

# Updating Data in Delta Tables

Polars supports several write modes for Delta tables:

- `append`
- `overwrite`
- `ignore`
- `merge`

Let’s start by trying the append mode.

In [7]:
df2 = pl.DataFrame({
    "id": [3, 4, 5, 6],
    "name": ["Charlie", "David", "Eve", "Frank"],
    "age": [36, 41, 29, 33],
    "city": ["Delhi", "Hyderabad", "Chennai", "Kolkata"]
})
df2

shape: (4, 4)
┌─────┬─────────┬─────┬───────────┐
│ id  ┆ name    ┆ age ┆ city      │
│ --- ┆ ---     ┆ --- ┆ ---       │
│ i64 ┆ str     ┆ i64 ┆ str       │
╞═════╪═════════╪═════╪═══════════╡
│ 3   ┆ Charlie ┆ 36  ┆ Delhi     │
│ 4   ┆ David   ┆ 41  ┆ Hyderabad │
│ 5   ┆ Eve     ┆ 29  ┆ Chennai   │
│ 6   ┆ Frank   ┆ 33  ┆ Kolkata   │
└─────┴─────────┴─────┴───────────┘

<div><style>
.dataframe > thead > tr,
.dataframe > tbody > tr {
  text-align: right;
  white-space: pre-wrap;
}
</style>
<small>shape: (4, 4)</small><table border="1" class="dataframe"><thead><tr><th>id</th><th>name</th><th>age</th><th>city</th></tr><tr><td>i64</td><td>str</td><td>i64</td><td>str</td></tr></thead><tbody><tr><td>3</td><td>&quot;Charlie&quot;</td><td>36</td><td>&quot;Delhi&quot;</td></tr><tr><td>4</td><td>&quot;David&quot;</td><td>41</td><td>&quot;Hyderabad&quot;</td></tr><tr><td>5</td><td>&quot;Eve&quot;</td><td>29</td><td>&quot;Chennai&quot;</td></tr><tr><td>6</td><td>&quot;Frank&quot;</td><td>33</td><td>&quot;Kolkata&quot;</td></tr></tbody></table></div>

# Writing with Append Mode

We’ll add new data to the Delta table using append mode.

In [8]:
df2.write_delta(
    target=tbl_path,
    mode="append"
)

In [9]:
df2_delta = pl.read_delta(tbl_path)
df2_delta

shape: (8, 4)
┌─────┬─────────┬─────┬───────────┐
│ id  ┆ name    ┆ age ┆ city      │
│ --- ┆ ---     ┆ --- ┆ ---       │
│ i64 ┆ str     ┆ i64 ┆ str       │
╞═════╪═════════╪═════╪═══════════╡
│ 3   ┆ Charlie ┆ 36  ┆ Delhi     │
│ 4   ┆ David   ┆ 41  ┆ Hyderabad │
│ 5   ┆ Eve     ┆ 29  ┆ Chennai   │
│ 6   ┆ Frank   ┆ 33  ┆ Kolkata   │
│ 1   ┆ Alice   ┆ 25  ┆ Pune      │
│ 2   ┆ Bob     ┆ 30  ┆ Mumbai    │
│ 3   ┆ Charlie ┆ 35  ┆ Delhi     │
│ 4   ┆ David   ┆ 40  ┆ Bangalore │
└─────┴─────────┴─────┴───────────┘

### Notice: Duplicate Rows

When you use append mode, new rows are added directly—even if they are duplicates. The table now contains repeated values.

# Overwrite Mode

Next, let’s see what happens when we use overwrite mode.

In [10]:
tbl_path = "target/ex_overwrite"

In [11]:
df1.write_delta(tbl_path)

In [12]:
df1_delta_ow = pl.read_delta(tbl_path)
df1_delta_ow

shape: (4, 4)
┌─────┬─────────┬─────┬───────────┐
│ id  ┆ name    ┆ age ┆ city      │
│ --- ┆ ---     ┆ --- ┆ ---       │
│ i64 ┆ str     ┆ i64 ┆ str       │
╞═════╪═════════╪═════╪═══════════╡
│ 1   ┆ Alice   ┆ 25  ┆ Pune      │
│ 2   ┆ Bob     ┆ 30  ┆ Mumbai    │
│ 3   ┆ Charlie ┆ 35  ┆ Delhi     │
│ 4   ┆ David   ┆ 40  ┆ Bangalore │
└─────┴─────────┴─────┴───────────┘

In [13]:
# let's update table with mode - overwrite
df2.write_delta(
    tbl_path,
    mode="overwrite"
)

In [14]:
df2_delta_ow = pl.read_delta(tbl_path)
df2_delta_ow

shape: (4, 4)
┌─────┬─────────┬─────┬───────────┐
│ id  ┆ name    ┆ age ┆ city      │
│ --- ┆ ---     ┆ --- ┆ ---       │
│ i64 ┆ str     ┆ i64 ┆ str       │
╞═════╪═════════╪═════╪═══════════╡
│ 3   ┆ Charlie ┆ 36  ┆ Delhi     │
│ 4   ┆ David   ┆ 41  ┆ Hyderabad │
│ 5   ┆ Eve     ┆ 29  ┆ Chennai   │
│ 6   ┆ Frank   ┆ 33  ┆ Kolkata   │
└─────┴─────────┴─────┴───────────┘

### Overwrite Mode Result

Overwrite mode replaces all existing data in the table with the new data.

# Ignore Mode

Now, let’s try ignore mode.

In [15]:
tbl_path = "target/ex_ignore"

df1.write_delta(tbl_path)

In [16]:
df1_delta_ig = pl.read_delta(tbl_path)
df1_delta_ig

shape: (4, 4)
┌─────┬─────────┬─────┬───────────┐
│ id  ┆ name    ┆ age ┆ city      │
│ --- ┆ ---     ┆ --- ┆ ---       │
│ i64 ┆ str     ┆ i64 ┆ str       │
╞═════╪═════════╪═════╪═══════════╡
│ 1   ┆ Alice   ┆ 25  ┆ Pune      │
│ 2   ┆ Bob     ┆ 30  ┆ Mumbai    │
│ 3   ┆ Charlie ┆ 35  ┆ Delhi     │
│ 4   ┆ David   ┆ 40  ┆ Bangalore │
└─────┴─────────┴─────┴───────────┘

In [17]:
# let's update table with incoming values using mode - ignore
df2.write_delta(tbl_path,mode="ignore")

In [18]:
df2_delta_ig = pl.read_delta(tbl_path)
df2_delta_ig

shape: (4, 4)
┌─────┬─────────┬─────┬───────────┐
│ id  ┆ name    ┆ age ┆ city      │
│ --- ┆ ---     ┆ --- ┆ ---       │
│ i64 ┆ str     ┆ i64 ┆ str       │
╞═════╪═════════╪═════╪═══════════╡
│ 1   ┆ Alice   ┆ 25  ┆ Pune      │
│ 2   ┆ Bob     ┆ 30  ┆ Mumbai    │
│ 3   ┆ Charlie ┆ 35  ┆ Delhi     │
│ 4   ┆ David   ┆ 40  ┆ Bangalore │
└─────┴─────────┴─────┴───────────┘

### Ignore Mode Result

If the table already exists, ignore mode does not write any new data.

# Merge Mode

Finally, let’s look at merge mode.

In [19]:
tbl_path = "target/ex_merge"
df1.write_delta(tbl_path)

In [20]:
df1_delta_mrg = pl.read_delta(tbl_path)
df1_delta_mrg

shape: (4, 4)
┌─────┬─────────┬─────┬───────────┐
│ id  ┆ name    ┆ age ┆ city      │
│ --- ┆ ---     ┆ --- ┆ ---       │
│ i64 ┆ str     ┆ i64 ┆ str       │
╞═════╪═════════╪═════╪═══════════╡
│ 1   ┆ Alice   ┆ 25  ┆ Pune      │
│ 2   ┆ Bob     ┆ 30  ┆ Mumbai    │
│ 3   ┆ Charlie ┆ 35  ┆ Delhi     │
│ 4   ┆ David   ┆ 40  ┆ Bangalore │
└─────┴─────────┴─────┴───────────┘

# How Merge Mode Works

Delta Lake supports advanced updates. With merge mode, you can update rows that match a condition and insert new rows that don’t exist yet.

In [21]:
(df2.write_delta(
    tbl_path,
    mode="merge",
    delta_merge_options={
        "predicate": "s.id = t.id",
        "source_alias": "s", # just giving name to source table
        "target_alias": "t", # just giving name to target table
    },
)
.when_matched_update_all()
.when_not_matched_insert_all()
.execute()
)

{'num_source_rows': 4,
 'num_target_rows_inserted': 2,
 'num_target_rows_updated': 2,
 'num_target_rows_deleted': 0,
 'num_target_rows_copied': 2,
 'num_output_rows': 6,
 'num_target_files_scanned': 1,
 'num_target_files_skipped_during_scan': 0,
 'num_target_files_added': 2,
 'num_target_files_removed': 1,
 'execution_time_ms': 89,
 'scan_time_ms': 356,
 'rewrite_time_ms': 4}

In [22]:
df2_delta_mg = pl.read_delta(tbl_path)

In [23]:
df2_delta_mg.sort("id")

shape: (6, 4)
┌─────┬─────────┬─────┬───────────┐
│ id  ┆ name    ┆ age ┆ city      │
│ --- ┆ ---     ┆ --- ┆ ---       │
│ i64 ┆ str     ┆ i64 ┆ str       │
╞═════╪═════════╪═════╪═══════════╡
│ 1   ┆ Alice   ┆ 25  ┆ Pune      │
│ 2   ┆ Bob     ┆ 30  ┆ Mumbai    │
│ 3   ┆ Charlie ┆ 36  ┆ Delhi     │
│ 4   ┆ David   ┆ 41  ┆ Hyderabad │
│ 5   ┆ Eve     ┆ 29  ┆ Chennai   │
│ 6   ┆ Frank   ┆ 33  ┆ Kolkata   │
└─────┴─────────┴─────┴───────────┘